.title {
    margin-top: 60px;
    margin-right: 30%;
    margin-left: 30%;
}

#header {
    text-align: center;
    letter-spacing: -1px;
    background-color: #343a40;
    color: white;
}

#searchContainer {
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
    box-sizing: inherit;
}

.container {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between, space-around;
    padding-top: 25px;
}

#returned {
    align-content: space-between, space-around;
}